@using LvivCinema.Models
@model Cinema

@{
    ViewBag.Title = "Інформація";
}

<h2>Інформація</h2>

<div>
    <h4>Кінотеатр</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>

    <div class="editor-label"><b>Список зал в кінотеатрі:</b></div>
    <ul>
        @foreach (Hall hall in Model.Halls)
        {
            <li>@hall.Number</li>
        }
    </ul>

    
    

</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
