@using LvivCinema.Models
@model Film

@{
    ViewBag.Title = "Добавлення фільма";
}

<h2>Дані нового фільму:</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Назва фільму")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Director, "Режисер")
            <br />
            @Html.EditorFor(m => m.Director)

        </p>
        <div class="editor-label"><b>Актори:</b></div>
        @foreach (Actor actor in ViewBag.Actors)
        {
            <input type="checkbox" name="selectedActors" value="@actor.Id" />@(actor.Name + " "+ actor.Surname)<br />
        }
        <p>
        <p>
            @Html.LabelFor(m => m.year, "Рік")
            <br />
            @Html.EditorFor(m => m.year)
        </p>
        <p>
            <div class="editor-label"><b>Жанри:</b></div>
            @foreach (Genre genre in ViewBag.Genres)
            {
                <input type="checkbox" name="selectedGenres" value="@genre.Id" />@genre.Name <br />
            }
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Опис")
            <br />
            @Html.EditorFor(m => m.Description)

        </p>
        <p><input type="submit" value="Добавити" /></p>
    </fieldset>
}